$total-width: 100%;
$total-col: 12;

@function col-width($col, $n) {
    @if $n > $col {
        $n: $col;
    }
    @return $total-width/$col * $n;
}

@mixin col {
    @for $i from 1 to 13 {
        @for $j from 1 to $i+1 {
            div.col-#{$i}-#{$j} {
                float: left;
                width: col-width($i, $j);
            }
        }
    }
}

body {
    @include col();
}