body {
  margin: 0;
}

.container-fluid{
  margin:0;
}

.row{
  clear:both;
  margin:0;
}
@for $j from 1 through 20{
  @for $i from 1 through $j{
    .col-#{$j}-#{$i}{
      width:$i/$j*100%;
      float:left;
      text-align: center;
      margin:0;
      padding:0;
    }
    .col-xl-#{$j}-#{$i}{
      width:$i/$j*100%;
      float:left;
      text-align: center;
      margin:0;
      padding:0;
    }
    .col-lg-#{$j}-#{$i}{
      width:$i/$j*100%;
      float:left;
      text-align: center;
      margin:0;  flex-basis: 0;

      padding:0;    
    }
    .col-md-#{$j}-#{$i}{
      width:$i/$j*100%;
      float:left;
      text-align: center;
      margin:0;
      padding:0;  
    }
    .col-sm-#{$j}-#{$i}{
      width:$i/$j*100%;
      float:left;
      text-align: center;
      margin:0;
      padding:0;
    }
    .offset-#{$j}-#{$i}{
      margin-left:$i/$j*100%;
    } 
    @media screen and (max-width:1200px){
      .col-xl-#{$j}-#{$i}{
        width:100%;
      }
    }
    @media screen and (max-width:992px){
      .col-lg-#{$j}-#{$i}{
        width:100%;
      }
    }
    @media screen and (max-width:768px){
      .col-md-#{$j}-#{$i}{
        width:100%;  flex-basis: 0;
      }
    }
    @media screen and (max-width:576px){
      .col-sm-#{$j}-#{$i}{
        width:100%;
      }
    }
  }
}


.bg-success{
  background:#28a745;
}
.bg-primary{
  background:#007bff;
}
.bg-info{
  background: #17a2b8; 
}
.bg-warning{
  background:#ffc107;
}
.bg-danger{
  background:#dc3545;
}
.bg-secondary{
  background:#6c757d;
}
.bg-dark{
  background: #343a40;
}
bg-light{
  background:#f8f9fa;
}

//.row{
//  if(.row .col){
//    display:flex;
//  } 
//}