html{
	margin:0;
	padding:0;
	background-image: url("1.png");
	background-size:cover;
}

body{
	margin:40px 100px;
	padding:0;
}

p {
	margin-top: 0;
	text-align: left;
}

.page-wrapper {
	padding: 0;
	margin: 0;
}


header h1 { 
	background-color:green; 
	margin-left: 60px;
	margin-top: -20px;
	display: block;
	width: 120px;
	float: left;
	text-align: center;
	line-height: 1.2;
	font-size: 2em;
	color:white;
}

header h2 { 
	background: repeating-linear-gradient(45deg, blue, red 33.3%);
	text-decoration: none; 
	margin-top: 20px;
	margin-left: 210px;
	text-align: center;
	color: white;
}

.preamble h3 { 
	background: repeating-linear-gradient(45deg, blue, red 33.3%);
	text-decoration: none; 
	margin-top: 20px;
	margin-left: 210px;
	text-align: center;
	color: white;
}

h2 abbr{
	text-decoration: none; 
}

.summary {
	margin-left: 210px;
}

.preamble{
	margin-top: 50px;
	text-align: center;
}

#zen-supporting{
	margin-right: 320px;
	text-align: center;
	line-height: 1.2;	
}

#zen-supporting a{
	color:purple;
	font-weight:bolder;
}

#zen-supporting h3{
	background: repeating-linear-gradient(45deg, #3f87a6, #ebf8e1 15%, #f69d3c 20%);
	background-size: cover;
}

footer{
	text-align: left;
	font-size:1.5em;
	margin-right: -320px;
	text-align: center;
}

footer a{
	color:purple;
	font-weight:bolder;
}

aside{
	background-color: #B0C4DE;
	width: 300px;
	margin-left: 20px;
	margin-top: -1000px;
	float: right;
	line-height: 2;
	color: green;
}

aside a{
	color: green;
	font-weight:bolder;
}

aside h3{
	text-align: center;
	color:red;
}

[role=contentinfo]{
	font-size: 1.5em;
	margin-right: -320px;
	text-align: center;
	color:purple;
}

[role=contentinfo] a{
	color:red;
	font-weight:bolder;
}