* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
p {
    font-size: 1em;
    margin: 0.75em 0;
    line-height: 2;
}
/*头部*/
section {
    display: block;
    background-color: darkseagreen;
}

section h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 5px 5px 5px #FF0000;
    color: aliceblue;
    word-spacing:20px; 
}

section h2 {
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    word-spacing:10px; 
    clear: both;
}

section .summary {
    float: left;
    width: 51%;
    padding-top: 3.25em;
    padding: 1em 5% 1em 10%;
    display: block;
}

section .summary p {
    font-size: 1em;
    margin: 0.75em 0;
    line-height: 2;
}

section .preamble {
    float: left;
    clear: left;
    width: 51%;
    padding: 1em 5% 1em 10%;
    
}

section .preamble p {
    font-size: 1em;
    margin: 0.75em 0;
    line-height: 2;
}

.sidebar {
    background: #edf4f0;
}
aside {
    display: block;
}

aside div {
    display: block;
}

.design-selection, .zen-resources {
    position: absolute;
    top: 360px;
    right: 0;
    width: 33.3%;
    padding: 0 0 20px 0;
    margin: 0;
    overflow: visible;
    background: transparent;
}
