* {
    padding: 0;
    margin: 0;
}

.body_main {
    margin: 0;
    padding: 0;
    position: relative;
}

.body_main .gotop{
    background-image: url(http://www.yixun.com/static/img/gototop.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed; 
    bottom: 5%; 
    left: 90%; 
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 100;
    /* background-color: #000; */
}

#header {
    margin: 0;
    padding: 0;
    background-color: rgb(239, 239, 239);
    width: 100%;
    padding: 5px;
    border-bottom: solid rgb(223, 223, 223) 1px;
    cursor: pointer;
}

#header a {
    color: rgb(135, 135, 135);
    font-size: 10px;
    padding: 1%;
}

.logo {
    padding-left: 200px;
    font-size: 50px;
}

.main #lb {
    margin: 0;
    padding: 0;
    margin-top: 150px;
    height: 400px;
    width: 570px;
    overflow: hidden;
}

/*轮播*/
.main #lb .lb {
	position: relative;
    height: 400px;
    background-color: aquamarine;
}

#left {
	float: left;
	width: 35px;
	height: 50px;
	background-color: rgb(255, 0, 0);
	position: absolute;
	top:435px;
	left:248px;
}

#right {
	float: left;
	width: 35px;
	height: 50px;
	background-color:  rgb(255, 0, 0);
	position: absolute;
	top:435px;
	left:784px;
}

#list {
	position: relative;
	float: left;
}

#list li {
	list-style: none;
	float: left;
    position: absolute;
}

#cri {
	position: relative;
    float: left;
    width: 500px;
    top: 430px;
    left: 200px;
}

#criList {
	position: absolute;
	float: left;
	left: 100px;
    top: 0;
    left: 0;
}

#criList li {
	list-style: none;
	margin-left: 40px;
	width: 5px;
	height: 5px;
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}

#criList li a {
	display: block;
    background-color: rgb(244,236,240);
    border-radius: 50%;
}


.main .rm {
    margin: 0;
    padding: 0;
    width: 600px;
    height: 400px;
    margin-top: 150px;
    overflow: hidden;
}

.main .rm .rm_detail {
    background-color: rgb(3, 123, 228);
    margin: 0;
    padding: 0;
    width: 300px;
    height: 200px;
    text-align: center;
}

.main .rm .rm_detail image {
    position: relative;
    z-index: -1;
}

.main .rm .rm_detail span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    padding: 2%;
    color: #FFF;
    position: absolute;
    top: 85%;
    bottom:0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.tj {
    margin-top: 70px;
    padding: 1%;
    border-bottom: red solid 4px;
}

.tj span {
    font-size: 30px;
}

.tj #jing {
    color: red;
}

.tj a {
    margin-top: 2%;
    float: right;
    color: rgb(135, 135, 135);
    font-size: 7px;
}

.tj_row.row {
    margin-top: 10px;
}

.tj_row .tj_detail {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 292px;
    height: 292px;
    border: rgb(135, 135, 135) solid 1px;
    margin-bottom: 30px;

    cursor:pointer;
}

.tj_row .tj_detail a {
    color: #000;
}

.tj_row .tj_detail .tj_header {
    width: 270px;
    height: 150px;
    margin: 20px 10px;

}

.tj_row .tj_detail .des {
    font-size: 15px;
    margin: 4%;
    height: 40px;
}

.tj_row .tj_detail a {
    position: relative;
}

/* .tj_row .tj_detail .tj_a:last-child {
    position: absolute;
    bottom: 0;
} */

.tj_row .tj_detail .dj_header {
    margin-left: 10px;
    width: 28px;
    height: 28px;
    border-radius: 20px;
}

.tj_row .tj_detail .dj_num {
    margin: 0px 20px 7px 0px;
    float: right;
}

.nav {
    height: 49px;
    width: 100%;
    position: absolute;
    top: 160px;
    background-color: rgb(26,92,262);
    padding:1% 200px;
}
.nav nav {
    position: absolute;
    top:0px;
}
.nav a {
    display: block;
    float: left;
    margin-left: 45px;
    background-color: rgb(26,92,262);
    font-size: 10px;
    font-weight: 500;
    padding: 16px;
    color: aliceblue;;
}

.nav .active {
    background-color: aliceblue;
    color: rgb(26,92,262);
}

.nav a:hover {
    text-decoration: none;
    background-color: aliceblue;;
    color: rgb(26,92,262);
}

#footer {
    clear: both;
    background-color: #FFF;
    margin-top: 50px;
}

#footer .footer_banner {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgb(60, 122, 207);
    height: 100px;
    text-align: center;
}

#footer .footer_banner img {
    height: 100px;
    width: 650px;
}

#footer #bottom {
    text-align: center;
    padding:2% 0 4% 0;
}
