
* {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	background-color: rgb(248, 246, 253) ;
	margin: 0; 
	padding: 0;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	font-size: 22px;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}

section {
	width: 100%;
	float: left;
	position: relative;
}

section header h1 {
	font-size: 30px;
	margin: 0 5%;
}

section header h2 {
	margin: 0 5%;
	font-size: 10px;
	line-height: 15px;
}

section .summary {
	position: absolute;
	top: 70px;
	background-color: rgb(226, 228, 231);
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
}

section .summary p {
	font-size: 20px;
	padding:0 70% 0 10%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
}

section .summary a {
	display: block;
	background-color: rgb(3, 57, 253);
	width: 30%;
	border-radius: 20px;
	text-align: center;
	color: #FFF;
}

section .summary a:hover {
	text-decoration: none;
	background-color: rgb(94, 129, 253);
}

section .preamble {
	position: absolute;
	background-color: wheat;
	left: 40%;
	top: 210px;
	width: 50%;
	padding: 1%;
	border-radius: 20px;
}

section .preamble h3 {
	font-size: 40px;
	padding-bottom: 5%;
}

section .preamble p {
	font-size: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#zen-supporting {
	width: 100%;
	float: left;
	position: relative;
	margin-top: 40%;
}

#zen-supporting a {
	color: rgb(207, 112, 57);
}

#zen-supporting .explanation {
	position: absolute;
	margin: 0 10%;
	padding: 2%;
	border-bottom:solid #f0ac47; 
	
}

#zen-supporting .explanation h3 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 3%;
}

#zen-supporting .explanation p {
	font-size: 20px;
	line-height: 30px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#zen-supporting .participation {
	background-color: wheat;
	margin-top: 22%;
	margin-left: 15%;
	width: 30%;
	border-radius: 20px;
	
	padding: 3%;
}

#zen-supporting .participation h3 {
	position: absolute;
	left: 55%;
	top:450px;
	font-size: 30px;
}

#zen-supporting .participation p {
	font-size: 15px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#zen-supporting .benefits {
	background-color: wheat;
	margin-top: 3%;
	margin-left: 55%;
	width: 30%;
	border-radius: 20px;
	padding: 3%;
}

#zen-supporting .benefits h3 {
	position: absolute;
	font-size: 30px;
	left: 35%;
}

#zen-supporting .benefits p {
	font-size: 15px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#zen-supporting .requirements {
	
	background-color: wheat;
	margin-top: 3%;
	margin-left: 15%;
	width: 30%;
	border-radius: 20px;
	padding: 3%;
}

#zen-supporting .requirements h3 {
	position: absolute;
	font-size: 30px;
	left: 55%;
}

#zen-supporting .requirements p {
	font-size: 15px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#zen-supporting footer {
	position: absolute;
	top:-725px;
	width: 650px;
	left: 40%;
}

#zen-supporting footer a {
	display: block;
	float: left;
	margin-left: 70px;
	padding:2%;
	background-color:  rgb(3, 57, 253);
	border-radius: 20px;
	color: #FFF;
}

#zen-supporting footer a:hover {
	text-decoration: none;
	background-color: rgb(94, 129, 253);
}

.sidebar ul {
	list-style-type: none;
}

.sidebar {
	position: relative;
	margin-top: 3%;
	float: left;
	height: 300px;
	width: 100%;
	background-color: rgb(226, 228, 231);
	padding: 1% 0 0 2%;
	opacity: 0.9;
}

.sidebar .design-selection {
	position: absolute;
	left: 20%;
}


.sidebar .design-archives {
	position: absolute;
	left: 45%;
}

.sidebar .zen-resources {
	position: absolute;
	left: 65%;
}

.sidebar h3 {
	margin-bottom: 30px;
}

.sidebar li {
	font-size: 15px;
}

.sidebar li a { 
	font-weight: bold; 
	text-decoration: none; 
	color: #555753;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 15px;
	}

.sidebar li a:hover {
	text-decoration: underline;
}