body{
	margin: 0;
	font: 14px/1.5 "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
}
.container-fluid{
	padding: 0;
	margin: 0; 
}
.top{
	margin: 0;
	padding: 0;
	height: 72px;
	width: 100%;
	min-height: 72px;
	min-width: 1230px;
	background: #FFF;
	box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.1);
}
#dao-top-1{
	float:left;
	height:72px;
	margin-left:-20px;
}
#dao-top-1 li{
	margin:0;
	padding:0px 10px;
	height:72px;
}
#dao-top-1 li a{
	margin:0;
	height:72px;
	font-size:16px;
	padding:0;
	color:#4D555D;
	text-align:center;
	line-height:72px;
	background:none;
}
#dao-top-1 li a:hover{
	color:black;
}
#logo{
	width:180px;
	height:72px;
	float:left;
	margin-left:20px;
}
#new1{
    position: absolute;
    display: inline-block;
    top: 14px;
    width: 16px;
    height: 16px;
    left: 42px;
}
#search{
	height:72px;
	width:180px;
	float:left;
	margin-left: 10px;
}
#search div{
	margin: 12px 0px;
	border-bottom:1px solid #D9DDE1;
}
#search input{
	width:140px;
	height:46px;
	padding:12px 0px;
	border:none;
    outline: none;
}
#search button{
	width: 36px;
	height: 24px;
}
#show{
	border-radius:18px;
	padding: 0 8px;
	background:none;
	border:none;
    outline: none;
}
#show i{
	font-size: 14px;
	color:rgb(117,122,126);
	cursor: pointer;
}
#dao-top-2{
	float:right;
	height:72px;
	margin-right: 10px; 
}
#dao-top-2 li{
	margin:0;
	padding:0;
	height:72px;
}
#dao-top-2 li>a{
	color:#71777d;
	text-align:center;
	height:72px;
	line-height:72px;
	background:none;
	padding: 0;
}
#shopping{
	color:#71777d;
	text-align:center;
	height:72px;
	line-height:72px;
	background:none;
	padding: 0;
}
#dao-top-2 li>a:hover{
	color:red;
}

#zhuce{
	margin:0px 12px;
	padding:0;
}
#load{
	margin:0px 12px;
	padding:0;
}
#gang{
	width:11.77px;
	text-align:center;
	line-height:72px;
	color:#DDE0E4;
}
#invite{
	width:80px;
}
#download{
	width:84.20px;
}
#download-hide{
	position: absolute;
    right: 0;
    top: 100%;
    width: 304px;
    height:186px;
    padding: 10px 24px 22px;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    z-index: 150;
    display: none;
}
#download-hide h4{
	font-size: 14px;
	margin:12px 0;
	text-align: center;
	line-height: 22px;
	color: #1C1F21;
}
#download-hide img{
	float:left;
	width: 108px;
	height: 108px;
}
#download-hide div{
	margin:0;
	padding: 0;
	width:132px;
	height: 108px;
	float:right;
}
#download-hide a{
	margin-bottom: 8px;
	height:36px;
	width:132px;
	background: black;
	display: block;
    line-height: 36px;
    background: #4D555D;
    border-radius: 18px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
#download-hide p{
	margin-top: 12px;
	font: 12px "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
	color: #4D555D;
	text-align: center;
}
#red{
	width:14px;
	height:16px;
	position: absolute;
	top:28px;
	left:-10px;
}
#shop-show{
	margin: 18px 12px 20px 0;
	height:36px;
	width:104px;
	border:1px solid #D9DDE1;
	border-radius: 18px;
	position: relative;
	line-height: 36px
}
#shop span{
	color:#71777d;
	position: absolute;
	top:-19px;
	left:42px;
}
#shop span:hover{
	color:red;
}
#shop i{
	position: absolute;
	top:11px;
	left:18px;
}
#shop-hide{
    width: 344px;
    padding: 0px 16px;
    position: absolute;
    right: 12px;
    top:100%;
    height: 400px;
    background: #fff;
    z-index: 125;
    box-shadow: 0 8px 16px 0 rgba(28, 31, 33, 0.2);
    border-radius: 0 0 8px 8px;
    display: none;
}
.shop-title {
	margin: 0;
	width: 312px;
	height: 51px;
	padding: 13px 12px;
}
.shop-title h2{
	color: #1C1F21;
	font-size: 14px;
	float: left;
	margin: 0;
    height: 24px;
    line-height: 24px;
}
.shop-title h5{
	color: #9199A1;
	font-size: 12px;
	float:right;
	margin: 0;
    height: 24px;
    line-height: 24px;
}
.cart{
	width:312px;
	height: 284px;
	border-top: 1px solid #D3D6D9;
	border-bottom :1px solid #D3D6D9;
	text-align: center;
}
.cart i{
	font-size: 62px;
	margin: 83px 0 8px 120px;
}
.cart h3{
	font-size: 14px;
	color: #545C63;
	margin-top: 120px;
	margin-bottom: 0;
	height:24px;
	padding: 0;
}
.cart h6{
	font-size: 12px;
	color: #9199A1;
	margin-top: 0;
	margin-bottom: 18px;
	line-height: 24px
	height:24px;
	padding: 0;
}
.cart p{
	font-size: 12px;
}
.cart a{
	color:rgba(240, 20, 20, 0.6);
	text-decoration: none;
}
.cart a:hover{
	color:#F01414;
}
.more-box{
	width: 312px;
	height: 65px;
	padding: 16px 12px;
	margin: 0;
}
#dingdan{
	color: #93999f;
	text-decoration: none;
	line-height: 32px;
	font-size: 12px;
	height: 32px;
}
#dingdan:hover{
	color: #4D555D;
}
#gouwuche{
	float: right;
	width: 96px;
	height: 32px;
	color: #FFF;
	text-decoration: none;
	background: #F01414;
	padding: 8px 16px;
    border-radius: 16px;
	font-size: 12px;
	text-align: center;
}
/*第一部分*/
.part1{
	width: 100%;
	height:476px;
	margin: 0;
	padding: 32px 0 0;
	position: relative;
}
.box{
	width: 1152px;
	margin: 0 auto;
	position: relative;
}
.shadow{
	box-shadow: 0 12px 24px 0 rgba(7, 17, 27, 0.2);
}
.part1-1{
	float: left;
	background: #2b333b;
	width: 216px;
	height: 444px;
	border-radius:8px 0 0 8px;
	padding-top: 12px;
}
.part1-1-1{
	float: right;
	width:204px;
	height:60px;
	padding: 0 16px;
	color: rgba(255, 255, 255, 0.6);
	line-height:60px;
	border-radius:4px 0 0 4px;
	position: relative;
	right: 0.5px;
	cursor: pointer;
}
.part1-1-1 span:last-child{
	font-size: 6.8px;
	position: absolute;
	top: 27px;
	left: 185px;
	padding: 0;
}
.part1-2-1{
	background:#fff;
	position:absolute;
    left: 316px;
    top: 32px;
    width: 768px;
    height: 444px;
    z-index: 300;
    display: none;
}
.part1-2-2{
	width: 768px;
	height:194px;
	padding: 12px 48px 32px;
}
.part1-2-2 h4{
	font-size: 14px;
	width: 100%;
	height: 24px;
	color:#F20D0D;
	margin: 27px 10px 0 -1px;
	padding: 0 12px 0 0;
	line-height: 24px
	z-index:600;
    font-weight: bold;
}
.part1-2-2 h5{
	border:1px solid rgba(77, 85, 93, 0.08);
	width:90%;
	position: relative;
	left: 70px;
	bottom: 28px;
}
.part1-2-2 div{
	float: left;
	height: 62px;
	width:100%;
	margin-top: 0;
}
.part1-2-2 a{
    font-size: 14px;
    color: #4D555D;
    line-height: 22px;
    position: relative;
    bottom: 14px;
    margin:0 22px 16px -1px; 
    display: inline-block;
    text-decoration: none;
}
.part1-2-2 a:hover{
	color: #F01414;
}
.part1-2-3{
	width: 768px;
	height:228px;
	padding: 36px 0 0 48px;
	background: #F8FAFC;
	margin-top: 22px;
}
.part1-2-3>div{
	float: left;
	width: 312px;
	height: 60px;
	margin-right:48px;
	margin-bottom: 36px;
}
.part1-2-3 img{
	width: 64px;
	height: 42px;
	float: left;
}
.part1-2-3 h3{
    width: 232px;
    font-size: 12px;
    color: #07111B;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0 16px;
    padding: 0;
    float: left;
}
.part1-2-3>div div{
    margin: 0 0 0 16px;
    width: 232px;
    padding: 0;
    float: left;
}
.part1-2-3>div div>span{
	position: relative;
	left: -2px;
	font-size: 12px;
	color:#4D555D;
}
.part1-2-3>div div>span span:nth-child(1){
    font-weight: bold;
}
.part1-2-3>div div>span span:nth-child(4){
	color:#4D555D;
}
.part1-2-4{
	position: absolute;
	width: 768px;
	height:194px;
	padding: 12px 48px 32px;
	top:98px;
	left:0;
}
.part1-2-4 h4{
	font-size: 14px;
	width: 100%;
	height: 24px;
	color:#F20D0D;
	margin: 27px 10px 0 -1px;
	padding: 0 12px 0 0;
	line-height: 24px
	z-index:600;
    font-weight: bold;
}
.part1-2-4 h5{
	border:1px solid rgba(77, 85, 93, 0.08);
	width:90%;
	position: relative;
	left: 70px;
	bottom: 28px;
}
.part1-2-4 div{
	float: left;
	height: 62px;
	width:100%;
	margin-top: 0;
}
.part1-2-4 a{
    font-size: 14px;
    color: #4D555D;
    line-height: 22px;
    position: relative;
    bottom: 14px;
    margin:0 22px 16px -1px; 
    display: inline-block;
    text-decoration: none;
}
.part1-2-4 a:hover{
	color: #F01414;
}
.part1-2-5{
	position: absolute;
	width: 768px;
	height:194px;
	padding: 12px 48px 32px;
	top:136px;
	left:0;
}
.part1-2-5 h4{
	font-size: 14px;
	width: 100%;
	height: 24px;
	color:#F20D0D;
	margin: 27px 10px 0 -1px;
	padding: 0 12px 0 0;
	line-height: 24px
	z-index:600;
    font-weight: bold;
}
.part1-2-5 h5{
	border:1px solid rgba(77, 85, 93, 0.08);
	width:90%;
	position: relative;
	left: 70px;
	bottom: 28px;
}
.part1-2-5 div{
	float: left;
	height: 62px;
	width:100%;
	margin-top: 0;
}
.part1-2-5 a{
    font-size: 14px;
    color: #4D555D;
    line-height: 22px;
    position: relative;
    bottom: 14px;
    margin:0 22px 16px -1px; 
    display: inline-block;
    text-decoration: none;
}
.part1-2-5 a:hover{
	color: #F01414;
}
.part1-2-6{
	width: 768px;
	height:132px;
	padding: 36px 0 0 48px;
	background: #F8FAFC;
	margin-top: 118px;
}
.part1-2-6>div{
	float: left;
	width: 312px;
	height: 60px;
	margin-right:48px;
	margin-bottom: 36px;
}
.part1-2-6 img{
	width: 64px;
	height: 42px;
	float: left;
}
.part1-2-6 h3{
    width: 232px;
    font-size: 12px;
    color: #07111B;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 0 0 16px;
    padding: 0;
    float: left;
}
.part1-2-6>div div{
    margin: 0 0 0 16px;
    width: 232px;
    padding: 0;
    float: left;
}
.part1-2-6>div div>span{
	position: relative;
	left: -2px;
	font-size: 12px;
	color:#4D555D;
}
.part1-2-6>div div>span span:nth-child(1){
    font-weight: bold;
}
.part1-2-6>div div>span span:nth-child(4){
	color:#4D555D;
}
/*轮播图*/
.part1-3{
	width:936px;
	height:316px;
	float:left;
	position: relative;
}
.lunbo img{
	width: 100%;
	height: 100%;
	border-radius:0 8px 0 0;
	position: absolute;
	top: 0;
	left: 0;
}
.img-1{
	display: block;
}
.img-2{
	display: none;
}
.img-3{
	display: none;
}
.img-4{
	display: none;
}
.img-5{
	display: none;
}
.img-6{
	display: none;
}
.banner-dots{
	position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    padding-right: 24px;
    height: 10px;
    z-index: 50;	
}
.point{
	float: right;
	margin-left: 8px;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	cursor: pointer;
}
.point-1{
	background: white;
}
.point-2{
	background: black;
}
.point-3{
	background: black;
}
.point-4{
	background: black;
}
.point-5{
	background: black;
}
.point-6{
	background: black;
}
.banner-button a{
	position: absolute;
	top:50%;
	width:36px;
	height:60px;
	text-shadow: 0 2px 4px rgba(7, 17, 27, 0.6);
	text-align: center;
	line-height: 60px;
	margin-top: -30px;
}
.banner-button a:hover{
	background: black;
	opacity: 0.5;
}
#left{
    border-radius: 0 4px 4px 0;
}
#right{
	left:900px;
    border-radius: 4px 0 0 4px;
}
.banner-button span{
	color:white;
}
.part1-4{
	width: 936px;
	height: 128px;
	padding: 0 18px;
	background: #FFFFFF;
	float: left;
	border-radius:0 0 8px 0;
	box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.1);
	position: relative;
}
#newpath{
	position: absolute;
	left: 0;
	top: 0;
	height: 68px;
	width: 68px;
}
.part1-4 a{
	float:left;
	margin:0;
	padding: 0;
	width: 180px;
	height: 128px;
	text-decoration: none;
}
.tit{	
	text-align: center;
	color: #07111B;
	letter-spacing: 1px;
    margin-top: 4px;
}
.desc{
	text-align: center;daohang
    font-size: 12px;
    color: #93999F;
    line-height: 16px;
    margin-top: -8px;
    font-weight: 400;
}
.im{
	margin-top: 22px;
	height: 36px;
	width: 36px;
	margin-left: 72px;
	background: url("path.png") no-repeat;
	background-size: 100%;
}
.im-1{
	background-position: center 0;
}
.im-2{
	background-position: center -36px;
}
.im-3{
	background-position: center -144px;
}
.im-4{
	background-position: center -72px;
}
.im-5{
	background-position: center -108px;
}
.part1-5{
	position: absolute;
	height: 180px;
	width: 100%;
	top: 0;
	left: 0;
	background: url("1.jpg");
	z-index: -1;
	opacity:0.3;
	transition: all .3s;
    filter: blur(100px);
}
.clear{
	clear: both;
}
/*导航栏3*/
#daohang{
	position: fixed;
	right: 0;
	top: 55%;
	width: 58px;
	margin-top: -140px;
	padding: 0 16px;
	z-index: 999;
	box-shadow: 0px 4px 12px 0px rgba(7, 17, 27, 0.1);
	background: #FFF;
}
.daohang{
	padding: 16px 0;
	display: block;
	width: 26px;
	border-bottom: 1px solid #edf1f2;
	line-height: 20px;
	margin-top: 0;
	text-decoration: none;
}
.daohang:hover{
	text-decoration: none;
}
#back-top{
	display: none;
}
#daohang img{
	width: 26px;
	height:24px;
}
#daohang span{
	font-size: 12px;
	line-height: 14px;
	color: #07111b;
	text-align: center;
	cursor: pointer;
	display: none;
	text-decoration: none;
	outline: none;
}
.appdown{
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -2px;
    right: 56px;
    background: url("elevator.png") no-repeat 0 -220px;
}
.guanfangweixin{
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -2px;
    right: 56px;
    background: url("elevator.png") no-repeat 0 0;
}
/*第二部分*/
.part2{
	width: 100%;
	position: relative;
	padding-top:36px;
}
#part2{
	height: 410px;
    background-size: cover;
	box-shadow:0 2px 4px 0 rgba(7, 17, 27, 0.06);
	z-index: 10;
}
.part2 h1{
	text-align: center;
	font-size: 14px;
	color: #93999F;
	line-height: 36px;
	font-weight: 400px;
	margin-top: 0px;
	padding: 0;
    letter-spacing: 0.6px;

}
.part2 h1 span:first-child{
	width: 56px;
	height: 36px;
	background: url("icon.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: bottom;
}
#part2 h1 span:first-child{
    background-position: center 0;
	margin-right: 21px;
}
.part2 h1 span:last-child{
	width: 56px;
	height: 36px;
	background: url("icon.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: bottom;
}
#part2 h1 span:last-child{
    background-position: center -36px;
	margin-left: 21px;
}
.part2 h1 span{
	font-size: 20px;
	color: #4D555D;
	margin: 0 3px;
    font-weight: 600;
}
.part2-1{
	margin:24px 0 0 -18px;
}
.part2-1-1{
	float: left;
    margin-left: 18px;
    margin-bottom: 12px;
    width: 216px;
    height: 252px;
    position: relative;
    z-index: 20;
}
.part2-1-1 a{
    text-decoration: none;
}
.newlesson{
	position: absolute;
	background-color: #FFAA00;
    background-image: linear-gradient(90deg, #ffaa00 17%, #f76b1c 100%);
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    top: 8px;
    left: -8px;
    z-index: 100;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 20px;
    padding: 0 8px;
}
.part2-1-1 img{
	width: 216px;
	height: 120px;
    border-radius: 8px;
	position: relative;
}
.part2-1-2 label{
	background: rgba(28, 31, 33, 0.6);
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 2px;
    margin-right: 0px;
    font-weight: 200;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
}
.part2-1-2{
    position: absolute;
	top:88px;
	left: 8px;
}

.part2-1-1 h3{
	font-size: 16px;
    color: #07111B;
    line-height: 24px;
    word-wrap: break-word;
    overflow: hidden;    background-size: cover;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
    height: 46px;
    margin: 8px;
    padding: 0;
}
.part2-1-1 h3:hover{
	color: #F20D0D;
}
.part2-1-1 p{
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    font-weight: 400;
    padding-left: 8px;
    margin-top: -1px;
    margin-bottom: 0;
}
.part2-1-1 p span{
	margin-right: 12px;
    font-size: 12px;
    line-height: 24px;
}
.part2-1-1 p b{
	font-weight: 400;
	margin-left:-12px;
}
.star{
	margin-left:15px;
}
.star i{
	font-size: 11px;
	color: #ff9900;
	margin-right: 1px
}
.price{
    font-size: 12px;
	color: #4D555D;
    font-weight: bold;
    padding-left: 8px;
}
.oldprice{
	margin-left: 8px;
    color: #4D555D;
    text-decoration: line-through;
}
.youhui{
    background: rgba(242, 13, 13, 0.6);
    border-radius: 4px;
    color: #fff;
    padding: 0 4px 0 4.5px;
    display: inline-block;
    text-align: center;
    margin-left: 2px;
}
/*第三部分*/
#part3{
	height: 674px;
	background: #F8FAFC;
	box-shadow:0 2px 4px 0 rgba(7, 17, 27, 0.06);
    background-size: cover;
    z-index: 9;	
}
#part3 h1 span:first-child{
	margin-right: 21px;
    background-position: center -72px;
}
#part3 h1 span:last-child{
	margin-left: 21px;
    background-position: center -108px;
}
.hot{
	position: absolute;
    background-color: #F02930;
    background-image: linear-gradient(90deg, #f68688 0%, #f02930 100%);
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    top: 8px;
    left: -8px;
    z-index: 999;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 20px;
    padding: 0 8px;
}
.update{
	position: absolute;
	background-color: #9447EB;
    background-image: linear-gradient(90deg, #bd89f8 6%, #9447eb 93%);
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    top: 8px;
    left: -8px;
    z-index: 100;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 20px;
    padding: 0 8px;
}
/*第四部分*/
#part4{
	margin-top: 0;
	height: 818px;
	box-shadow:0 2px 4px 0 rgba(7, 17, 27, 0.06);
	z-index: 8;
}
#part4 h1 span:first-child{
	margin-right: 21px;
    background-position: center -144px;
}
#part4 h1 span:last-child{
	margin-left: 21px;
    background-position: center -180px;
}
.part4{
	margin:24px 0 0 -18px;
}
.part4-1{
    background-size: 100%;
    margin-bottom: 36px;
    margin-left: 18px;
    border-radius: 8px;
    text-align: center;
    float: left;
}
#part4 .part4-1:first-child{
	background: url("4-1-1.jpg") no-repeat center center;
}
#part4 .part4-1:last-child{
	background: url("4-1-2.jpg") no-repeat center center;
}
.part4-1 a{
	text-decoration: none;
	background:rgba(7, 17, 27, 0.4);
    display: block;
    width: 567px;
    height: 108px;
    border-radius: 8px;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
}
.part4-1 h2{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 28px;
    text-shadow: 0 2px 2px rgba(7, 17, 27, 0.4);
    margin:0;
}
.part4-1 p{
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
    text-shadow: 0 2px 2px rgba(7, 17, 27, 0.4);
    margin-top: 4px;
}
/*第五部分*/
#part5{
	margin-top: 0;
	position: relative;
	z-index: 7;
	background: #F8FAFC;
	height: 818px;
    box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.06);

}
#part5 h1 span:first-child{
	margin-right: 21px;
    background-position: center -216px;
}
#part5 h1 span:last-child{
	margin-left: 21px;
    background-position: center -252px;
}
#part5 .part4-1:first-child{
	background: url("5-1-1.jpg") no-repeat center center;
}
#part5 .part4-1:last-child{
	background: url("5-1-2.jpg") no-repeat center center;
}
/*第六部分*/
#part6{
	margin-top: 0;
	position: relative;
	z-index: 6;
	height: 818px;
	box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
}
#part6 h1 span:first-child{
	margin-right: 21px;
    background-position: center -288px;
}
#part6 h1 span:last-child{
	margin-left: 21px;
    background-position: center -324px;
}
#part6 .part4-1:first-child{
	background: url("6-1-1.jpg") no-repeat center center;
}
#part6 .part4-1:last-child{
	background: url("6-1-2.jpg") no-repeat center center;
}
/*第七部分 瀑布流*/
#part7{
	margin-top: 0;
	position: relative;
	z-index: 5;
	height: 1681px;
	background: #F8FAFC;
}
#part7 h1 span:first-child{
	margin-right: 20px;
    background-position: center -360px;
}
#part7 h1 span:last-child{
	margin-left: 20px;
    background-position: center -396px;
}
#part7 dl{
	margin:24px 0 0 0;
	position: relative;
    width: 1152px;
    min-height: 560px;
}
#part7 dd{
	padding:24px 32px 32px 32px;
	width:372px;
	position: absolute;
	background: #FFF;
	box-shadow:0 4px 8px 0 rgba(7, 17, 27, 0.05);
}
#part7 dd:hover{
	box-shadow:2px 6px 12px 6px rgba(7, 17, 27, 0.05);	
}
.fang{
	width: 72px;
	height: 72px;
    border-radius: 8px;
}
.chang{
	width: 72px;
    height: 48px;
}
.rmht{
    font-size: 12px;
    color: #FFFFFF;
    line-height: 24px;
    background: rgba(0, 180, 60, 0.5);
    border-radius: 12px;
    padding: 0 12px;
    margin-bottom: 8px;
    width: 72px;
    height: 24px;
}
.tit-7{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
.tit-7 a{
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    width: 224px;
}
dd p{
	font-weight: 400;
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    word-break: break-all;
}
.big{
    margin-top: 12px;

}
.small{
    font-size: 12px;
    text-align: justify;
    margin-top: 8px;
}
.botinf{
	width: 100%;
	margin-top: 12px;
	height: 24px;
}
.botinf>span{
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    font-weight: 400;
    margin-right: 21px;
}
.gtext{
	float: right;
	cursor: pointer;
	font-size: 12px;
	line-height: 24px;
	margin-right: 6px;
}
.gtext span{
	font-size: 10px;
	font-weight: 100;
	position: relative;
	left: 5px;
	top: 0px;
}
.green{
	color: rgba(0, 180, 60, 0.6);
}
.green:hover{
	color: #00CC41;
}
.blue{
	color:rgba(0, 140, 200, 0.6);
}
.blue:hover{
	color:#008CC8;
}
.blackg{
	color: #07111B;
}
.blackg:hover{
	color: #00CC41;
	text-decoration: none;
}
.blackb{
	color: #07111B;
}
.blackb:hover{
	color:#008CC8;
}
.tit-line{
    position: relative;
    background-color: #D9DDE1;
    height: 1px;
    margin: 24px 0;
    font-weight: 400;	
}

.tit-line span{
	position: absolute;
    font-size: 12px;
    padding-right: 12px;
    color: #93999F;
    background-color: #fff;
    line-height: 16px;
    top: -8px;
    left: 0;
}
.part7-1{
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.part7-1 a{
    text-decoration: none;
    line-height: 24px;
    width: 224px;
    font-size: 14px;
}
.sjwz{
    line-height: 16px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 12px
}
.sjwz span{
	margin-left: 4px;
	color: rgba(0, 140, 200, 0.6);
	font-weight: 400;
}
.xgyw{
    margin-bottom: 7px;
    position: relative;
}
.xgyw span{
	color:rgba(0, 180, 60, 0.6);
    line-height: 16px;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
}
.xgyw img{
	position: absolute;
	height: 16px;
	width: 16px;
	top:3px;
	left:0px;
}
dd>a{
	display: block;
	text-decoration: none; 
	line-height: 21px;
}
.zuijia{
    font-size: 12px;
    color: #07111B;
    line-height: 24px;
    display: inline-block;
    margin: 8px 0 0 0;
}
.answer{
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    text-align: justify;
    word-break: break-all;
    font-weight: 400;
    margin:0;	
}
/*第八部分*/
.part8{
	width: 100%;
	position: relative;
	padding-top:36px;
	background: #f3f5f7 url("part8.jpg") no-repeat center center;
	height: 408px;
    background-size: cover;
}
.part8 h1{
	text-align: center;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.4);
	line-height: 36px;
	font-weight: 400px;
	margin-top: 0px;
	padding: 0;
    letter-spacing: 0.6px;

}
.part8 h1 span:first-child{
	width: 56px;
	height: 36px;
	background: url("icon.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: bottom;
}
#part8 h1 span:first-child{
    background-position: center -432px;
	margin-right: 21px;
}
.part8 h1 span:last-child{
	width: 56px;
	height: 36px;
	background: url("icon.png") no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: bottom;
}
#part8 h1 span:last-child{
    background-position: center -468px;
	margin-left: 21px;
}
.part8 h1 span{
	font-size: 20px;
	color: #ffffff;
	margin: 0 3px;
    font-weight: 600;
}
.more{
	position:absolute;
	top:8px;
	right: 17px;
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
}
.more i{
	margin-left: 8px;
}

/*轮播图*/
.lunbo2{
	height: 278px;
	margin-left: -18px;
	position: relative;
	overflow:hidden;
}
.lunbo2-1{
	top:30px;
	width: 1170px;
	position: absolute;
}
.lunbo2-1-2{
	display: none;
}
.lunbo2-2{
	margin: 0 0 0 18px;
	width: 216px;
	height: 248px;
	float: left;
	position: relative;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.05);
    border-radius: 12px;
    cursor:pointer;
}
.lunbo2-2 a{
	text-decoration: none;
}
.lunbo2-2 img{
    position: absolute;
    top: -16.6px;
    left: 50%;
    margin-left: -48px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
.lunbo2-2 h1{
	margin: 92px 0 0 0;
    font-size: 16px;
    line-height: 24px;
    margin-top: 92px;
    color: #07111b;
    font-weight: 700;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    padding: 0 36px;
}
.lunbo2-2 h2{
    font-size: 12px;
    margin: 0 0 12px 0;
    color: #4D555D;
    height: 24px;
    line-height: 24px;	
}
.lunbo2-2 p{
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: #4D555D;
    height: 72px;
    padding: 0 36px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    text-align: justify;
    word-break: break-all;
    font-weight: 400;
}
.l-1{
	left: -24px;
}
.r-1{
	right: -24px;
}
.bt{
	position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    z-index: 10;
    cursor: pointer;
    margin-top: 7.5px;
    border-radius: 50%;
    padding: 8px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}
.bt span{
    font-size: 20px;
    color: #9199A1;
    line-height: 32px;
}
.btb{
	height: 37px;
	padding-top: 24px;
	position: relative;
}
.btb-1{
	position: absolute;
	left: 50%;
	height:8px;
	width: 8px;
	border-radius: 50%;
}
.l-2{
	margin-left: -13px;
	background: #FFF;
}
.r-2{
	margin-left: 5px;
	background: #000;
    opacity: .2;
}
/*第九部分*/
#part9{
	margin-top: 0;
	position: relative;
	height: 458px;
	background: #FFFFFF;
	box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
}
#part9 h1 span:first-child{
	margin-right: 20px;
    background-position: center -504px;
}
#part9 h1 span:last-child{
	margin-left: 20px;
    background-position: center -540px;
}
.king{
    width: 544px;
    margin: 38px auto 48px;
    height: 98px;
}
.king dd{
	width: 136px;
    text-align: center;
    float: left;
}
.king dd div{
    width: 56px;
    height: 56px;
    position: relative;
    margin: 0 40px 0 40px;
}
.king dd div img{
	width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.1);
}
.kingimg{
	position: absolute;
    width: 26px;
    height: 18px;
    top: -16px;
    left: 15px;
    background: url("champion.png") no-repeat;
    background-size: 100%;	
}
.green{
    background-position: center -18px;
}
.blue{
    background-position: center -36px;	
}
.orange{
    background-position: center -54px;
}
.name9{
    font-size: 14px;
    color: #07111B;
    line-height: 16px;
    margin: 8px 0 0 0;
    font-weight: 400px;
    overflow: hidden;
}
.info9{
    font-size: 12px;
    color: #93999F;
    font-weight: 400;
    line-height: 18px;
}
.normal{
	margin:0 132px 0 132px;
	height: 152px;
}
.normal dd{
	position: relative;
    float: left;
    border-radius: 48px;
    font-size: 0;
    box-sizing: border-box;
    transition: all .3s;
    border: 2px solid #fff;
}
.normal img{
    height: 48px;
    width: 48px;
    border-radius: 48px;
    box-sizing: border-box;
    background-color: #f3f5f7;
    border: 2px solid #fff;
}
.margin1{
	margin: 0 28px 24px 0;
}
.margin2{
	margin: 0 28px 24px 40px;
}
.bg-blue .inff{
	background: #008cc8;
}
.bg-blue .cur{
	color:#008cc8;
}
.bg-green .inff{
	background: #00b46d;
}
.bg-green .cur{
	color:#00b46d;
}
.bg-purple .inff{
	background: #653ddd;
}
.bg-purple .cur{
	color:#653ddd;
}
.inff{
    position: absolute;
    display: none;
	border-radius: 8px;
    color: #FFFFFF;
    top: -110px;
    left: -83px;
    width: 202px;
    height: 90px;
    text-align: center;
    box-sizing: border-box;
    padding: 13px 24px 0;
}
.inff-tit{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color:#FFF;
    margin: 0;
}
.inff-cls{
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#FFF;
    margin: 0;
}
.inff-info{
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    font-weight: 400;
    color:#FFF;
    margin: 8px 0 0 0;
}
.cur{
    position: absolute;
    bottom: -9px;
    font-size: 40px;
    left: 93px;
    line-height: 20px;
}
/*第十部分*/
#part10{
    padding: 36px 0;
    height: 132px;
    background: #F8FAFC;
}
.footlink{
    text-align: left;
    border: none;
    padding: 0;
    height: 28px;
    line-height: 28px;
}
.footlink a{
	text-decoration: none;
    margin: 0 10px;
    color: #99a1a6;	
}
.footaddr{
    font-size: 12px;
    line-height: 14px;
    padding: 0;
    padding-left: 10px;
    text-align: left;
    margin-top: 8px;
    color: #93999F;
    line-height: 24px;
}
.offical{
	position: absolute;
    width: auto;
    right: -6.5px;
    bottom: 0;
}
.gf{
    float: left;
    margin-left: 24px;
    text-align: center;
}
.gf a{
	margin:0 14px 0 14px;
}
.gf span{
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    margin-top: 4px;
}
.gfgzh{
    position: absolute;
    width: 172px;
    height: 212px;
    left: -35px;
    bottom: 65px;
    background: url("elevator.png") no-repeat 0 0;
    display: none;
}